<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<!-- Toolbar -->
<!DOCTYPE html>
<p>test</p>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  
<head>
    <title>Spring Core Online Tutorial - List Strains</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
  
<div class="container">
  <p>This is  a paragraph</p>
    <div th:if="${not #lists.isEmpty(strains)}">
        <h2>Strain List</h2>
        <table class="table table-striped">
            <tr>
                <th>Id</th>
                <th>name</th>
                <th>sativa%</th>
                <th>indica%</th>
            </tr>
            <tr *ngFor="let strain of strains">
                <td>{{strain.id}}</td>
                <td>{{strain.name}}</td>
                <td>{{strain.sativa_percentage}}</td>
                <td>{{strain.indica_percentage}}</td>
                <td><a th:href="${'/strain/' + strain.id}">View</a> </td>
            </tr>
        </table>
    </div>
</div>




<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

</body>
</html>